.profile{
    border-radius: 50%;
}
#header{
    background-image: url("/images/wp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}
.menu-header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    bottom: 320px;
    right:100px;
    position:relative
}
.menu-header  li {
    float: left;
}
.menu-header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
}
body
{
    background-color:lightyellow;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 10px;
    font-style: italic;
}
.w3logo
{
    float: right;
    margin: 20px;
}
footer{
    background-color:azure;
    margin:30px;
    padding:10px;
}